body{
    background-color: hsla(300, 3%, 7%, 0.913);
}
#container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10vh;
}
#slides{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.slide{
    width: 400px;
    height: 400px;
    display: none;
    animation-name: fade;
    animation-duration: 1.5s;
}

.displaySlide{
    display: block;
}

.dButtons{
    position: absolute;
    top: 40%;
    height: 50px;
    width: 15vh;
    border-radius: 20px;
    border: 3px solid black;
    font-size: 40px;
    text-align: center;
    background-color: hsla(0, 3%, 7%, 0.518);
    background-color: hsl(180, 90%, 55%);
}

#lButton{
    left: 0px
}
#rButton{
    right: 0px
}

#admireButton{
    border: 5px solid transparent;
    min-height: 5vh;
    min-width: 25vh;
    border-radius: 20px;
    background-color: hsla(0, 0%, 0%, 0.913);
    color: whitesmoke;
    font-family: 'MV Boli';
    font-size: 20px;
    font-weight: 600;
}

#admireButton:hover{
    background-color: transparent;
    color:hsla(174, 75%, 45%, 0.989);
    border: 5px solid lightblue;
}
#admireButton:active{
    background-color: hsla(0, 0%, 0%, 0.613);
}

@keyframes fade {
    from {opacity: .2;}
    to {opacity: 1;}
}