body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 97vh;
    background-image: url('blackSky.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
}
#container{
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    background:linear-gradient(23deg,hsla(106, 63%, 57%, 0.664), pink, rgba(211, 211, 27, 0.632));
    backdrop-filter: blur(10px);
    
}
#container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -3;
    border-radius: 20px;
    background: inherit;
    filter: blur(15px);
}
#clock{
    border-radius: 10px;
    position: relative;
    margin-left: 57%;
    display: inline-block;
    border: none;
    background-color: hsla(0, 3%, 42%, 0.909);
    font-family: 'seven segment';
    font-size: 20px;
    padding: 3px;
    font-weight: bold;
    color: hsl(0, 83%, 65%);
    min-width: 100px;

}
#displayScreen{
    border-radius: 10px;
    border: none;
    background-color: hsla(0, 5%, 33%, 0.826);
    padding: 1px;
    position: relative;
    top: 10px;
    max-width: 350px;
    width: 92%;
    margin: 0 auto;
    height: 70px;
    text-align: right;
    text-indent: 3px;
    font-size: 70px;
    font-family: 'seven segment';
    overflow: hidden;
    color: rgb(28, 26, 26)
}
#buttons{
    display: grid;
    grid-template-columns: repeat(4, 65px);
    grid-template-rows: repeat(3, 65px);
    gap: 8px;
    padding: 17px;
}
button{
    height: 65px;
    font-size: 40px;
    border-radius: 20px;
    font-family: 'consolas';
    max-width: 65px;
    border: 5px double hsla(178, 83%, 44%, 0.737);
    cursor: pointer;
}
button:hover{
    border: 5px solid rgb(192, 225, 238);
    background-color: hsla(180, 59%, 37%, 0.006);
    color:hsl(224, 15%, 14%)
}
button:active{
    border: 5px solid hsl(197, 41%, 65%, 0.8);
    background-color: rgba(217, 219, 219, 0.006);
    color:hsl(224, 15%, 14%);
    background-color: hsla(194, 45%, 94%, 0.2);
}
.digitButton{
    background-color: hsla(0, 8%, 3%, 0.75);
    color:white;
}

.commaButton{
    padding-top: 15px;
}

#clearButton{
    background-color: hsla(293, 74%, 17%, 0.468);
}
#clearButton:hover{
    background-color: hsla(143, 74%, 64%, 0.006);
}
