body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
#gameBoard{
    border: 2px solid black;
}
#scoreText{
    font-size: 50px;
    font-family: "consolas";
}
#restartButton{
    font-size: 30px;
    border-radius: 20px;
    padding: 3px;
    min-width: 150px;
    background-color: black;
    color: whitesmoke;
    font-family: "Permanent Marker", cursive;
}
